@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 256 65% 10%;
    --card: 0 0% 100%;
    --card-foreground: 256 65% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 256 65% 10%;
    --primary: 275 100% 35%;
    --primary-foreground: 240 67% 97%;
    --secondary: 256 60% 20%;
    --secondary-foreground: 240 67% 97%;
    --muted: 256 60% 20%;
    --muted-foreground: 240 20% 75%;
    --accent: 256 60% 15%;
    --accent-foreground: 240 67% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 60% 25%;
    --input: 256 60% 25%;
    --ring: 275 100% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 256 65% 10%;
    --foreground: 240 67% 97%;
    --card: 256 60% 13%;
    --card-foreground: 240 67% 97%;
    --popover: 256 65% 10%;
    --popover-foreground: 240 67% 97%;
    --primary: 275 100% 35%;
    --primary-foreground: 240 67% 97%;
    --secondary: 256 60% 20%;
    --secondary-foreground: 240 67% 97%;
    --muted: 256 60% 20%;
    --muted-foreground: 240 20% 75%;
    --accent: 256 60% 15%;
    --accent-foreground: 240 67% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 60% 25%;
    --input: 256 60% 25%;
    --ring: 275 100% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
